config 'topic'
    option name 'hello/abc'
    option qos '2'

config 'topic'
    option 'name' 'hello/test'
    option 'qos' '1'

config event
	option topic 'hello/test'
	option key 'temp'
	option type '1'
	option comparison '2'
	option value '11'
	option sender '<email>'
	list receivers '<email>'
	

config event
	option topic 'hello/abc'
	option key 'str'
	option type '0'
	option comparison '2'
	option value 'abc'
	option sender '<email>'
	list receivers '<email>'